<h1> ok now this branch </h1>
<div id="gallery">
    <ul>
        <li>
           <%= link_to image_tag("jsfunstuff.jpg", :size => '100x100'), '/images/jsfunstuff.jpg' %>
           <%= link_to image_tag("jsfunstuff-2.jpg", :size => '100x100'), '/images/jsfunstuff-2.jpg' %>
           <%= link_to image_tag("jsfunstuff-3.jpg", :size => '100x100'), '/images/jsfunstuff-3.jpg' %>
           <%= link_to image_tag("jsfunstuff-4.jpg", :size => '100x100'), '/images/jsfunstuff-4.jpg' %>
           <%= link_to image_tag("jsfunstuff-5.jpg", :size => '100x100'), '/images/jsfunstuff-5.jpg' %>
           <%= link_to image_tag("jsfunstuff-6.jpg", :size => '100x100'), '/images/jsfunstuff-6.jpg' %>
           <%= link_to image_tag("jsfunstuff-7.jpg", :size => '100x100'), '/images/jsfunstuff-7.jpg' %>
        </li>
    </ul>
</div>
